.features__list {
    display: flex;
    align-items: center;
    margin-bottom: 62px;
}

.features__item {
    display: flex;
    align-items: flex-start;
    width: 125px;
    height: 56px;
    margin-right: 48px;
    
    &:first-child {
        width: 145px;
    }

    &:last-child {
        margin-right: 0;
    }
}

.features__pic {
    width: 50px;
    height: 42px;
    fill: none;
    stroke: $azure;
    stroke-width: 0.5;
    stroke-miterlimit: 10;
    margin-right: 10px;
}

.features__text {
    font-size: 16px;
//    padding-left: 10px;
}