.features {
    margin-bottom: rem(62px);

    @include tablets {
        display: flex;
        justify-content: center;
        margin-bottom: rem(55px);
    }

    @include phones {
        flex: 0.1;
        margin-bottom: rem(16px); // rem(45px);
    }
}

.features__list {
    display: flex;
    align-items: center;

    @include tablets {
        width: 100%;
        justify-content: center;
    }

    @include phones {
        justify-content: space-evenly;
    }
}

.features__item {
    display: flex;
    align-items: flex-start;
    height: rem(56px);
    margin-right: rem(48px);

    &:first-child {
        .features__text {
            width: rem(84px);
        }
    }

    &:nth-child(2) {
        .features__text {
            width: rem(57px);
        }
    }

    &:last-child {
        margin-right: 0;
        
        .features__text {
            width: rem(66px);
        }
    }

    @include tablets {
        margin-right: rem(44px); // 6.855% = 50px
    }

    @include phones {
        height: 100%;
        flex-direction: column;
        align-items: center;
        margin-right: 0;
    }
}

.features__pic {
    fill: none;
    stroke: $azure;
    stroke-width: 0.5;
    stroke-miterlimit: 10;
    margin-right: rem(10px);
    height: rem(42px);

    &--twig {
        width: rem(45px);
    }

    &--truck {
        width: rem(54px);
    }

    &--tape-measure {
        width: rem(44px);
    }

    @include tablets {
        margin-right: rem(7px);
    }

    @include phones {
        margin-right: 0;
        margin-bottom: rem(7px);
    }
}

.features__text {
    font-size: rem(16px);

    @include phones {
        text-align: center;
    }
}