.fixed-menu {
    position: fixed;
    top: rem(215px);
    right: rem(50px);

    @include tablets {
        display: none;
    }
}

.fixed-menu__item {
    &--active {
        .fixed-menu__dot {
            border-color: $white;
        }
    } 
}

.fixed-menu__dot {
    width: rem(16px);
    height: rem(16px);
    border-radius: 50%;
    border: rem(1px) solid transparent;
    margin-bottom: rem(15px);
    position: relative;
    
    &:before {
        content: "";
        width: rem(6px);
        height: rem(6px);
        border-radius: 50%;
        background: $white;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        position: absolute;
    }

    &:last-child {
        margin-bottom: 0;
    }
}