.hamburger-menu {
    position: fixed;
	top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: $grey-deep;
    color: $white;
    justify-content: center;
    align-items: center;
//    z-index: 100;
    display: none;
//    transition: opacity .3s;
    
    &--visible {
//        display: flex;
        opacity: 1;
	}
}

.hamburger-menu__close {
    width: rem(18px);
    height: rem(18px);
    box-sizing: content-box;
    padding: rem(5px);
    position: absolute;
    top: rem(25px);
	right: rem(20px);

	&:hover {
		.hamburger-menu__close-icon {
			use {
                opacity: 1;
			}
		}
    }
}

.hamburger-menu__close-icon {
	width: 100%;
	height: 100%;

	use {
		fill: #fff;
        opacity: .7;
		transition: fill .3s; // ?
	}
}