.hero {
    color: $white;
//    background: $blue url(./img/bg/hero_bg.png) right / contain no-repeat;
    background-color: $blue;
    background-image: url(./img/bg/hero_berries_bg.png), url(./img/bg/hero_bars_bg.png), url(./img/bg/hero_pattern_bg.png);
    background-position: bottom right, top 34% right 4%, right;
    background-size: auto, auto 73%, contain;
    background-repeat: no-repeat;

    @include tablets {
        background-image: url(./img/bg/hero_bars_berries_bg_tablets.png), url(./img/bg/hero_pattern_bg_tablets.png);
        background-position: center top 9%, right top;
        background-size: auto; // in phones: berries = 44.25%
    }

    @include phones {
        background-image: url(./img/bg/hero_bars_berries_bg_phones.png), url(./img/bg/hero_pattern_bg_phones.png);
        background-position: center top 5%, right top;
    }
}

.hero__container {
    height: 100%;
}

.hero__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;

    @include tablets {
        justify-content: flex-end;
        align-items: center;
        margin-bottom: rem(40px);
    }

    @include phones{
        margin-bottom: 1.8rem;
    }
}

.hero__desc {
    width: rem(350px);
    height: rem(45px);
    font-size: rem(21px);
    margin-bottom: rem(32px);

    @include tablets {
        text-align: center;
    }

    @include phones {
        width: 70%;
        height: auto;
        font-size: rem(18px);
        margin-bottom: rem(27px);
    }
}