.menu {
    background: #000 url(./img/bg/menu_bg.png) center center / cover no-repeat;
    color: $white;
    position: relative;
}

.menu__title {
    position: absolute;
    top: 14.5%; // rem(100px);
	left: 7.5%; // rem(80px);
}