.nav {
    width: 100%;
}

.nav__list {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav__link {
    text-decoration: none;
    color: inherit;
    font-size: rem(18px);
}

.nav--hamburger {
//    width: auto;
    margin-top: rem(130px);

    .nav__list {
        flex-direction: column;

        .nav__item {
			animation-fill-mode: forwards;

            .nav__link {
                font-size: rem(36px);
                line-height: rem(72px);
            }
        }
    }
}