.nav {
    width: 100%;
}

.nav__list {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
/*
.nav__item {
    margin-right: rem(30px);

    &:last-child {
        margin-right: 0;
    }
}
*/
.nav__link {
    text-decoration: none;
    color: inherit;
    font-size: rem(18px);
}

.nav--hamburger {
    width: auto;
    margin: 0;

    .nav__list {
        flex-direction: column;

        .nav__item {
            margin-right: 0;
//			animation-fill-mode: forwards;

            .nav__link {
                font-size: 36px;
                line-height: 72px;
            }
        }
    }
}