.order-button {
    padding: rem(18px) rem(34px); // rem(23px) rem(35px)
    border-radius: rem(29px);
    background-color: $green;
    color: $white;
    font-size: rem(19px);
    font-weight: 800;
    text-transform: uppercase;

    &--hero {
        background-color: $white;
        color: $green;
    }
}