.reasons__list {
    display: flex;
}

.reasons__item {
    flex: 1;
    text-align: center;
    margin-right: 80px;

    &:after {
        content: url(./img/decor/decor_dots.png); // incorrect location
        display: block;
    }

    &:last-child {
        margin-right: 0;

        &:after {
            display: none;
        }
    }
}   

.reasons__picture {
    margin-bottom: 35px;
}

.reasons__title {
    font-size: 27px;
    font-weight: 700;
    margin-bottom: 30px;
}

.reasons__desc {
    width: 280px;
    color: $grey;
    font-size: 18px;
    font-weight: 300;
}